body {
    font-family: Arial, sans-serif;
    background-color:white;
    margin: 0;
    padding: 0;
}

.login {
    width: 300px;
    margin: 100px auto;
    height: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #394352;
    font-weight: bold;
    font-size: 20px;

}

.login form {
    text-align: center;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background-color: #45a049;
}

.login p {
    text-align: center;
}

.login label {
    position: relative; 
}

.login label[for="username"] i {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 5px; 
}

.login label[for="password"] i {
    position: absolute;
    top: 85%; 
    transform: translateY(-50%); 
    right: 240px;
}

.login input[type="text"],
.login input[type="password"] {
    padding-left: 25px; 
}

.register-link {
    text-align: center;
    position: relative;
    top: -145px; 
}